#codeTag span.fc {
  background-color:#ccffcc;
	text-shadow: none;
}

#codeTag span.nc {
  background-color:#ffaaaa;
	text-shadow: none;
}

#codeTag span.pc {
  background-color:#ffffcc;
	text-shadow: none;
}
