#experimentDiv {
	height: 100%;
}

#taskField {
	width: 100%;
	height: 100%;
	padding-top: 0px;
}

#taskFieldText {
	float: left;
	line-height: 1;
	white-space: normal;
	font-size: 15px;
	vertical-align: middle;
	text-transform: uppercase;
	margin: 0px;
	padding: 10px;
	height: 100%;
}

#taskButtonDiv {
	display: flex;
	flex-direction: column-reverse;
	float: right;
	height: 100%;
}

#taskSolvedButton {
	padding: 1rem 2rem;
	border-radius: 1rem;
	border: solid #1faeff 0.125rem;
	margin: 2rem;
	/*position: absolute;
	top: 0px;
	right: 100px;
	width: 200px;
	height: 125px;*/
}

#taskSolvedButton:hover {
	cursor: pointer;
}

#backButton {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 100px;
	height: 125px;
}

#taskTable {
	border-spacing: 0;
	border-collapse: collapse;

	table-layout: auto;
	border-collapse: collapse;
	border-spacing: 0;
	padding: 0;
	margin: 0;
}
